.bag_button{
    background-color: lightgreen;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
}
.wish_list{
  background-color: aqua;
  border: 8px;
  padding: 5px 25px;
  border-radius: 5px;
  border: 2px solid black;
  tax-transfor
}